.ProfileSide{
    position: sticky;
    top: 0;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
    border-right: 1px solid rgba(87, 87, 87, 0.753);

}
