.postTextComment {
    text-align: justify;
    color: rgba(8, 8, 8, 0.808);
    margin-left: 7%;
    margin-top: 0;
}

.midDivPost {
    width: 100%;
    justify-content: center;
    margin: 0;
    border: 0px;
    min-width: 300px;
}