.postTextComment {
    text-align: justify;
    color: rgba(8, 8, 8, 0.808);
    margin-left: 7%;
    margin-top: 0;
}

.midDivPost {
    width: 100%;
    justify-content: center;
    margin: 0;
    border: 0px;
    min-width: 300px;
    padding-bottom: 30px;
}

.containerComment {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5% 15px 5%;
    border-radius: 15px;

}

.containerComment:hover {
    background-color: var(--background-mid);
}